<html>
<head>
  <title>Vue.js Form Inputs</title>
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  <div id="app">

    <form>

      <input v-model="inputmessage" placeholder="edit me"> <br /> <br />

      <textarea v-model="areamessage" placeholder="add multiple lines"></textarea>

      <br /> <br />
      <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br />
      </div>

      <br />

      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br />
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br /> <br />

      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>

    </form>

    <p>Message is: {{ inputmessage }}</p>

    <span>Text area message is:</span>
    <p style="white-space: pre-line;">{{ areamessage }}</p>
    <br />

    <span>Checked names: {{ checkedNames }}</span>
    <br />
    <br />

    <span>Picked: {{ picked }}</span>
    <br /> <br />

    <span>Selected: {{ selected }}</span>

  </div>
<script>

  // Source: https://v3.vuejs.org/guide/forms.html

  const Form = {
    data() {
      return ({
        inputmessage: 'Input box message!',
       areamessage: 'Area message!',
        checkedNames: [],
        picked: "",
        selected: ""
      });
    }
  };

  const app = Vue.createApp(Form).mount("#app");

</script>
</body>
</html>